html {
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input[type="text"]:not(.browser-default) {
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom: 1px solid #9e9e9e;
    border-left-style: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

h1 {
    display: block;
    font-weight: 100;
    color: #26a69a;
    margin-bottom: 20px;
    margin-top: 5%;
    font-size: 5em;
}

button {
    cursor: pointer;
}

button.todo {
    float: right;
    background: #fff;
    padding: 1px;
    margin: 2px;
    border: none;
    max-width: 20px;
}

button.todo span {
    padding: 5px;
    font-size: 1.2em;
    color: #26a69a;
}

input {
    min-height: 30px;
    width: 80%;
    margin: 10px 5px;
    display: inline-grid;
    justify-content: space-around;
    border-radius: 5px;
    border-color: silver;
    background-color: inherit;
}

section {
    border: none;
    margin: 5px auto;
    width: 850px;
    min-height: 60vh;
}

.collection {
    margin: .5rem 0 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.collection li {
    color: #26a69a;
    text-decoration: none;
    font-weight: 400;
    border-collapse: collapse;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

footer {
    margin-top: 10px;
}
